<div class="footer">
  <!-- Social Media Icons -->
  
  <ul class="social-icons">
    <div>
      <li><a href="#" class="fab fa-facebook-f">Facebook</a></li>
    <li><a href="#" class="fab fa-twitter">Twitter (X)</a></li>
    </div>
    <li><a href="#" class="fab fa-instagram">Intagram</a></li>
    <div>
      <li><a href="#" class="fab fa-twitter">Tik Tok</a></li>
    <li><a href="#" class="fab fa-instagram">Telegram</a></li>
    </div>
    <!-- Add more social media icons as needed -->
  </ul>
  <div class="contact-info">
    <p>Contact Us:</p>
    <p>Email: mugeshad&#64;gmail.com</p>
    <p>Phone: +2547-456-890</p>
  </div>

  <!-- Copyright Information -->
  <p class="copyright">&copy; 2023 MugShad. All rights reserved.</p>
</div>
