<div class="container">
  <h2>Our Cars</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-3" *ngFor="let car of cars">
      <div class="car-card">
        <img [src]="car.picture" class="card-img-top" alt="Car Image">
        <div class="card-body">
          <h5 class="card-title">{{car.car_name}}</h5>
          <p class="card-text">{{car.properties}}</p>
          <a class="btn btn-primary" (click)="hireNow(car.id)">Hire Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
