<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="../assets/logo.jpeg" class="card-img-top" alt="Car Image 1">
            <div class="card-body">
              <h5 class="card-title">Car Model 1</h5>
              <p class="card-text">Description or details about the car.</p>
              <a href="reservations" class="btn btn-primary">Hire Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="../assets/logo.jpeg" class="card-img-top" alt="Car Image 2">
            <div class="card-body">
              <h5 class="card-title">Car Model 2</h5>
              <p class="card-text">Description or details about the car.</p>
              <a href="reservations" class="btn btn-primary">Hire Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <img src="../assets/logo.jpeg" class="card-img-top" alt="Car Image 3">
            <div class="card-body">
              <h5 class="card-title">Car Model 3</h5>
              <p class="card-text">Description or details about the car.</p>
              <a href="reservations" class="btn btn-primary">Hire Now </a>
            </div>
          </div>
        </div>
      </div>
</div>