h2{
    text-align: center;
    color: aquamarine;
}
p{
    text-align: center;
}
/* Container for the two blocks */
.container {
  display: flex;
}

/* Style for each block */
.block {
width: 30%;
height: 450px;
border: 2px solid #333;
margin: 10px;
padding: 10px;
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
border-radius: 10px;
transition: background-color 0.3s ease;

}
div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.534); /* Adjust the alpha value for transparency */
  border-radius: 6px;
  z-index: -1; /* Place the overlay behind the content */
}

/* Style for the image within each block */
.block img {
  max-width: 50%;
  max-height: 50%;
  margin-bottom: 10px;
  margin-bottom: 10px;
  border-radius: 50%;
}