<div class="container">
  <body>
    <div>
      <h2>Our Services</h2>
    </div>
  
    <div class="container">
      <!-- First Block -->
      <div class="block">
        <p><b><u>Self-Drive Car Hire: </u></b></p>
        <p>Experience the freedom of exploring Kenya's hidden gems at your own pace with our self-drive car hire service. Choose from our fleet of well-maintained vehicles, including sedans, SUVs, and minivans, to accommodate your travel group comfortably</p>
        <img src="../assets/logo.jpeg" alt="Image 1">
      </div>
  
      <!-- Second Block -->
      <div class="block">
        <p><b><u>Delivery and Pickup Services</u></b></p>
        <p><i>Convenience at Your Fingertips </i></p>
        <p>In today's fast-paced world, convenience is key. That's why we offer our customers the option to have their rental vehicles delivered to their desired location, whether it's their home, office, or hotel. This saves you the time and hassle of having to travel to our rental location to pick up your vehicle</p>
        <img src="../assets/logo.jpeg" alt="Image 1">
      </div>
      <div class="block">
        <p><b><u>Flexible Rental Options:</u></b></p>
        <ul>
          <li><b>Daily, Weekly, and Monthly Rentals:</b> Choose the rental duration that suits your travel needs</li>
          <li><b>One-Way and Round-Trip Rentals:</b> Enjoy the convenience of one-way rentals or plan a round trip</li>
          <li><b>Local and Nationwide Rentals:</b> Explore Kenya's diverse landscapes with our local and nationwide rental options</li>
        </ul>
        <img src="../assets/logo.jpeg" alt="Image 1">
      </div>
    </div>
    <div class="container">
      <!-- First Block -->
      <div class="block">
        <p><b><u>Interior Detailing</u></b></p>
        <p>Enjoy a fresh and inviting interior with our comprehensive interior detailing service. We'll vacuum, shampoo, and clean every nook and cranny, leaving your car smelling fresh and looking immaculate.</p>
        <img src="../assets/logo.jpeg" alt="Image 1">
      </div>
  
      <!-- Second Block -->
      <div class="block">
        <p><b><u>Engine Cleaning</u></b></p>
        <p>Ensure your car's engine is performing at its peak with our professional engine cleaning service. We'll remove grime, dirt, and debris, promoting optimal engine performance and extending its lifespan.</p>
        <img src="../assets/logo.jpeg" alt="Image 1">
      </div>
      <div class="block">
        <p><b><u>Roadside Assistance</u></b></p>
        <p>We offer 24/7 roadside assistance to ensure you're never stranded on the road. Our team is always ready to assist with tire changes, battery jumps, and other roadside emergencies</p>
        <img src="../assets/logo.jpeg" alt="Image 1">
      </div>
    </div>
    <p><u><b>Call to Action</b></u></p>
    <p>Embark on your Kenyan adventure with the confidence of choosing our exceptional car hire services. Contact us today to book your vehicle and experience the difference!</p>
  
  </body>
  </div>
  