h2{
    text-align: center;
    color: rgb(69, 139, 245);
}
h1{
    text-align: center;
    color: rgb(69, 139, 245);
}
p{
    text-align: center;
}
/* Container for the two blocks */
.container {
  display: flex;
}

/* Style for each block */
.block {
width: 350px;
height: 450px;
border: 2px solid #333;
margin: 10px;
padding: 10px;
box-sizing: border-box;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
border-radius: 10px;
transition: background-color 0.3s ease;
position: relative;
margin-bottom: 20px;
}

/* Style for the image within each block */
.block img {
  width: 50%;
  height: 35%;
  margin-bottom: 4;
  border-radius: 55%;
  position: absolute;
  bottom: 0;
  left: 5;
}

